@import "../../../../styles/mixins";

img {
  @include push--auto();
  display: block;
}

.explanation {
  margin: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
}
.disable-td{
  pointer-events: none;
}

.matcity--form__box--blue {
  padding: 4rem;
}
.matcity--form-container {
  text-align: center;
 
  
 }
 .city_mat-card {  max-width:100%;      }